{{#if securities.jurisdiction.exemptions}}
This offer is made in reliance on the exemptions under {{securities.jurisdiction.exemptions}}. It{{else}}This offer{{/if}} is not made in or accompanied by a prospectus that is registered by the Monetary Authority of Singapore. The information set forth in this document is being furnished on a confidential basis to the recipient. This document is confidential and has been prepared solely for the information of the intended recipient. It may not be reproduced, distributed, or used for any other purpose. Nothing contained herein constitutes financial, legal, or tax advice. We make no representation that the information and opinions expressed herein are accurate, complete, or current.
