{{#choice_among_alternatives flavor "cap and discount"}}SAFE Price or the Discount Price (as applicable){{/choice_among_alternatives}}
{{#choice_among_alternatives flavor "cap, no discount"}}SAFE Price{{/choice_among_alternatives}}
{{#choice_among_alternatives flavor "discount, no cap"}}Discount Price{{/choice_among_alternatives}}
