{{#conversion_price}}
# Conversion Price
  {{#if lower_of}}
  {{ucfirst ../../alias}} will convert at the lower of:
  
{{#if lower_of.premoney_valuation}}  * {{../../../currency}} {{../../../premoney_valuation}}{{/if}}
{{#if lower_of.discounted_conversion}}  * {{../../../conversion_discount.percent}}% less than the price per share paid in the {{../../../conversion_upon}}{{/if}}
  {{/if}}
{{/conversion_price}}
