{{#if conversion_upon}}
# Conversion
  Upon {{conversion_upon}} {{#if qualified_financing}}(when the Company raises at least {{../currency}} {{qualified_financing.minimum_raise}}){{/if}}, {{../instrument_shortname}} will convert to {{converts_to.name}} ({{converts_to.explanation}}).
{{/if}}
