{{#if investor_information_rights}}

{{#choice_among_alternatives investor_information_rights "equivalent to shareholders"}}
  Investors will have customary information and inspection rights, including receiving an annual budget, annual unaudited financial statements, quarterly unaudited financial statements, and any other information reports prepared for shareholders while the Notes remains outstanding.
{{/choice_among_alternatives}}

{{#choice_among_alternatives investor_information_rights "no rights"}}
  Investors shall have no special access to information about the finances of the Company, beyond any rights granted by law.
{{/choice_among_alternatives}}

{{/if}}
