The investment will take the form of {{securities.instrument}}.
{{#parties/members/investors/members}}
{{ucfirst name}} is expected to subscribe for {{../securities/currency}} {{commitment}} of those {{../securities/instrument_shortname}}.
{{/parties/members/investors/members}}
