{{#if prepayment}}
# Pre-Payment

{{#choice_among_alternatives prepayment "approved by simple majority of investors"}}
  The Company can only pre-pay {{../alias}} if a majority of the Investors holding the {{../alias}} agree to do so.
{{/choice_among_alternatives}}

{{#choice_among_alternatives prepayment "approved by two-thirds majority of investors"}}
  The Company can only pre-pay {{../alias}} if a two-thirds majority of the Investors holding the {{../alias}} agree to do so.
{{/choice_among_alternatives}}

{{/if}}
