# {{{title}}}

This agreement is between the parties: {{>parties_short_en_and ~}}.

{{ucfirst (choose_plural parties.members.companies 'alias' 'members')}} intends to raise up to {{securities.currency}} {{securities.amount_on_offer}} from {{choose_plural parties.members.investors 'alias' 'members'}}.

{{#securities}}
  {{>investment_summary_plain_en}}
  {{>investment_details_plain_en}}
{{/securities}}

{{>standard_clauses_plain_en}}
