{{#if amendment_and_waiver}}
# Amendment and Waiver

{{#choice_among_alternatives amendment_and_waiver "company"}}
  The Company may alter these terms at its sole discretion.
{{/choice_among_alternatives}}

{{#choice_among_alternatives amendment_and_waiver "company and majority of investors"}}
  The Note Purchase Agreement and the Notes may be amended, or any term thereof waived, upon the written consent of the Company and a majority of the Investors.
{{/choice_among_alternatives}}

{{/if}}
