{{#if automatic_conversion}}
# Automatic Conversion

{{#automatic_conversion}}
{{#if qualified_financing}}
  The Company expects that a {{../../conversion_upon}} will occur prior to term. When this happens, the {{../../alias}} will automatically convert, {{qualified_financing}}.
{{/if}}

{{#if at_term}}
  If the Maturity Date arrives without a {{../../conversion_upon}}, then the {{../../alias}} will automatically convert on that date, {{at_term}}.
{{/if}}

{{/automatic_conversion}}
{{/if}}
