The investment will take the form of {{instrument}}.
{{#subscriptions}}
{{ucfirst subscriber}} is expected to subscribe for {{../currency}} {{commitment}} of those {{../instrument_shortname}}.
{{/subscriptions}}
